<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restaurant Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <nav>
      <button id="check" class="fas fa-bars"></button>

      <label class="logo">Harapeko</label>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a class="active" href="#">Favorite</a></li>
        <li>
          <a
            class="active"
            href="https://www.linkedin.com/in/luvy-muhammad-riski-2707b8228/"
            >About</a
          >
        </li>
      </ul>
    </nav>
    <div
      class="contain"
      style="
        background-image: linear-gradient(
            rgba(0, 0, 5, 0.5),
            rgba(0, 0, 5, 0.5)
          ),
          url('..//public/images/heros/hero-image_4.jpg');
      "
    >
      <div class="containner">
        <h1 class="contain_title">Harapeko Apps</h1>
        <p class="contain_subtitle">
          Find the best restaurants only on the best websites.
        </p>
      </div>
    </div>
    <section class="content" id="content">
      <div class="latest">
        <h1>Recomendation Restaurant</h1>
        <div class="card-list">
          <div id="data"></div>
        </div>
      </div>
    </section>
    <footer>
      <p>Luvy Muhammad Riski 2024 - Harapeko Apps</p>
    </footer>
  </body>
</html>
