img {
  display: block;
}
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  /* text-decoration: none;
  list-style: none; */
  box-sizing: border-box;
}
:root {
  --white: #f3f3f3;
  --bg: #eee9da;
  --color: #bdcdd6;
  --color2: #93bfcf;
  --button: #6096b4;
  --color3: #101010;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}
body {
  font-family: Caudex, serif;
  background-color: var(--bg);
  min-width: 300px;
}
nav {
  background-color: var(--color2);
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 30px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 6rem;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  /* padding: 7px 13px; */
  border-radius: 3px;
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
  text-decoration: none;
}
/* a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
} */
#check {
  font-size: 30px;
  color: white;
  float: right;
  /* line-height: 80px; */
  margin-right: 40px;
  cursor: pointer;
  display: none;
  height: 44px;
  border: 0px;
  margin-top: 18px;
  background: none;
}
i {
  display: inline-block;
  width: 100%;
  min-height: 40px;
}
a{
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
  align-items: center;
}
#check {
  display: none;
  min-width: 40px;
  min-height: 40px;
}

.contain {
  display: flex;
  align-items: center;
  min-height: 450px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-color: Black !important;
  z-index: 100;
}
.containner {
  margin: 0 auto;
  max-width: 800px;
}
.contain_title {
  color: var(--white);
  font-weight: 600;
  font-size: 36px;
  text-shadow: 1px 1px #141414;
}
.contain_subtitle {
  color: var(--white);
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px #141414;
}

.content {
  margin: 150px auto;
}
.latest {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.latest h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 50px;
}
/* card */
#data {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1250px;
  margin: 150px auto;
  padding: 20px;
  gap: 20px;
}
.card-list .card-item {
  background: var(--color);
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}
.card-list .card-item:hover {
  border: 2px solid #000;
}
.card-list .card-item-pic {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}
.card-item .item_rating {
  display: inline-block;
  background: var(--button);
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}
.card-item .city {
  display: inline-block;
  background: var(--button);
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}
.card-item .item_title a {
  color: #000;
  font-size: 1.438rem;
  margin-top: 14px;
  margin-bottom: 14px;
  font-weight: 600;
  text-decoration: none;
  height: 44px;
}

footer {
  background-color: var(--color2);
  color: white;
  font-size: 14px;
  padding: 2em;
  width: 100%;
  text-align: center;
}
.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
}
.skip-link:focus {
  top: 100px;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
    text-decoration: none;
  }
}

@media (max-width: 858px) {
  #check {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check.fas.fa-bars{
    display: inline-block;
    min-height: 44px;
    min-width: 44px;
  }
  #check.fas.fa-bars::before{
    display: inline-block;
    margin-top: 5px;
    min-height: 44px;
    min-width: 44px;
  }
  #check:focus ~ ul, ul:target {
    left: 0;
  }

  button#check:focus {
    outline: none;
  }
  .card-list {
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}
